.main_container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: calc(100% - var(--side-bar-width));
}

.main_container .chessboard {
  position: relative;
  width: 560px;
  height: 560px;
}

.main_container .controller_side {
  width: 420px;
  height: 560px;
  border-radius: 10px;
  background-color: rgb(38, 37, 34);
}
