.playing_options-header {
  background: radial-gradient(180% 160% at top center,rgba(0,0,0,.14) 40%,transparent 0);
}

.playing_options-header h1{
  color: white;
  text-align: center;
  padding: 10px 0;
}

.playing_options-header .background {
  text-align: center;
}

.playing_options .playing_options-buttons {
  margin-top: 10px;
  overflow-y: scroll;
}

.playing_options-buttons::-webkit-scrollbar {
  width: 10px;
}

.playing_options-buttons::-webkit-scrollbar-thumb {
  background: rgb(21,20,19); 
  border-radius: 10px;
}
.playing_options-buttons .button_group {
  display: block;
  width: 300px;
  margin: 10px auto;
  padding: 15px 35px;
  opacity: .8;
  color: white;
  background-color: rgb(20, 19, 18);
  text-decoration: none;
  border-radius: 5px;
}

.playing_options-buttons .button_group:hover {
  cursor: pointer;
  opacity: 1;
}

.playing_options-buttons .button_group .button_group-text p{
  font-size: 14px;
  color: rgb(176,175,175);
}

