.dialogEndGame {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-width: 350px;
  padding: 10px;
  background-color: rgb(38, 36, 33);
  color: white;
  border-radius: 10px;
  z-index: 10 !important;
}

.dialogEndGame .btn-exit {
  position: absolute;
  top: 5px;
  right: 10px;
  font-size: 22px;
  font-weight: 500;
}

.dialogEndGame .btn-exit:hover {
  cursor: pointer;
  opacity: .9;
}

.dialogEndGame .dialogEndGame_title {
  font-size: 30px;
  font-weight: 700;
  text-align: center;
  text-transform: capitalize;
}

/* dialog end game - players */
.dialogEndGame_players {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 20px;
}

/* dialog end game - players - avatar */
.dialogEndGame_players .players_infor-avatar{
  padding: 5px 5px 3px;
  background-color: white;
  border-radius: 10px;
}

.dialogEndGame_players .player_win {
  background-color: rgb(127,180,75);
}

.dialogEndGame_players .players_infor-avatar img {
  width: 60px;
  height: 60px;
  object-fit: cover;
  border: 1px solid rgb(193,193,191);
}

/* dialog end game - players - name */
.dialogEndGame_players .players_infor-name {
  font-size: 15px;
  text-align: center;
}

.dialogEndGame_finish-game {
  width: 85%;
  margin: 5px auto;
}

/* button play again */
.dialogEndGame .btn-game-review {
  width: 100%;
  height: 60px;
  font-size: 25px;
  font-weight: 600;
  margin-bottom: 15px;
  border-radius: 10px;
  color: white;
  background-color: rgb(145,195,86);
  opacity: .9;
}

.dialogEndGame .btn-game-review:hover {
  cursor: pointer;
  opacity: 1;
}

.buttons_finish-game {
  display: flex;
  align-items: center;
  justify-content: space-between;
}